elasticsearch==8.13.2
fastapi==0.111.1
pydantic==2.8.2
pymongo==4.7.3
pytest==8.2.1
python-dotenv==1.0.1
Requests==2.32.3
sentence_transformers==3.0.1
kafka
neo4j
kafka-python
confluent-kafka
numpy==1.24.1